<% provide(:title, "広告掲載") %>
<section class="contact">
  <div class="title page-form account-form">
    <h2>店舗さま向けお問い合わせフォーム</h2>
    <form>
      <p>スペースハッカーにあなたの施設を掲載してみませんか？掲載は無料から可能となているので、お気軽にご連絡ください。</p>
      <div class="form-group">
        <input type="name" class="form-control" id="exampleInputName" placeholder="コワーキングスペース/カフェ名">
      </div>
      <div class="form-group">
        <input type="email" class="form-control" id="exampleInputEmail" placeholder="ご担当者名">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="exampleInputPassword" placeholder="メールアドレス">
      </div>
      <div class="form-group">
        <input type="confirmation" class="form-control" id="exampleInputConfirmation" placeholder="電話番号">
      </div>
      <div class="form-group">
        <input type="confirmation" class="form-control" id="exampleInputConfirmation" placeholder="お問い合わせ内容">
      </div>
      <div class="form-group">
        <textarea type="contents" class="form-control" rows="5" placeholder="ご不明点・ご質問など"></textarea>
      </div>
      <button class="btn btn-form" type="submit">お問い合わせを送信する</button>
    </form>
  </div>
</section>
