<% provide(:title, "お問い合わせ") %>
<section class="contact">
  <div class="title page-form account-form">
    <h2>お問い合わせフォーム</h2>
    <form>
      <p>SpaceHackerを日頃よりご利用いただき誠にありがとうございます。ご質問・ご意見があれば、お気軽にお問い合わせくださいませ。</p>
      <div class="form-group">
        <input type="name" class="form-control" id="exampleInputName" placeholder="お名前">
      </div>
      <div class="form-group">
        <input type="mail" class="form-control" id="exampleInputMail" placeholder="メールアドレス">
      </div>
      <div class="form-group">
        <textarea type="contents" class="form-control" rows="5" placeholder="ご不明点・ご質問など"></textarea>
      </div>
      <button class="btn btn-form" type="submit">お問い合わせを送信する</button>
    </form>
  </div>
</section>
