<% provide(:title, "アカウントの編集") %>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<%= devise_error_messages! %>
<%= render 'layouts/userheader' %>
<section class="space-navigation navi-info container">
  <div class="title navi-info-box">
    <ul>
      <li class="col-md-3 col-sm-4 col-xs-4"><%= link_to "最近の口コミ", current_user %></li>
      <li class="col-md-9 col-sm-8 col-xs-8 selected"><a href="#">アカウント</a></li>
    </ul>
  </div>
</section>

<section class="mypage-profile">
  <div class="title page-form">
    <form>
      <div class="form-group">
        <%= f.label :name, "ユーザー名" %>
        <%= f.text_field :name, :placeholder => "ユーザー名", :value => @user.name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%=f.label :image,"ユーザー画像" %>
        <%= f.file_field :image %>
      </div>
      <div class="form-group">
        <%= f.label :background, "バックグラウンド" %>
        <%= f.text_field :background, :placeholder => "バックグラウンド", :value => @user.background, class: "form-control" %>
      </div>
      <div class="form-group">
         <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, :placeholder => "メールアドレス", :value => @user.email, class: "form-control", autofocus: true %>
      </div>
      <div class="form-group">
        <%= f.label :password, "新しいパスワード" %>
        <%= f.password_field :password, :placeholder => "新しいパスワード", class: "form-control", autocomplete: "off" %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, "新しいパスワードの確認" %>
        <%= f.password_field :password_confirmation, :placeholder => "新しいパスワードの確認", class: "form-control", autocomplete: "off" %>
      </div>
      <div class="form-group">
        <%= f.label :current_password, "現在のパスワード" %>
        <%= f.password_field :current_password, :placeholder => "現在のパスワード", class: "form-control", autocomplete: "off" %>
      </div>
      <%= f.submit "登録内容を変更する", class: "btn btn-form" %><br />
    </form>
    <% end %>
    <%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-form btn-delete" %>
  </div>
</section>
