<% provide(:title, "新規会員登録") %>
<section class="register">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="title page-form account-form">
    <h2>新規会員登録</h2>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= link_to "Facebookで登録する", user_facebook_omniauth_authorize_path, id: "sign_in", class: "btn btn-form fb-btn" %>
    <% end -%>
      <div class="form-group">
        <label for="exampleInputName">メールアドレスで登録する</label>
        <%= f.text_field :name, :placeholder => "名前", autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.email_field :email, :placeholder => "メールアドレス", autofocus: true, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, :placeholder => "パスワード", autocomplete: "off", class: "form-control" %>      </div>
      <div class="form-group">
        <%= f.password_field :password_confirmation, :placeholder => "パスワードの確認", autocomplete: "off", class: "form-control" %>
      </div>
      <div>
        <input type="checkbox" checked="checked"> 利用規約およびプライバシーポリシーに同意します
      </div>
      <%= f.submit "新規会員登録する", class: "btn btn-form" %>
    <% end %>
  </div>
</section>
