<p>※ このメールにお心当たりのない場合は、リンクにアクセスせずメールを破棄してください。</p>

<p><%= @user.name %>さん</p>

<p>この度は、スペースハッカーにご登録いただきありがとうございます。</p>

<p>現在、<%= @user.name %>さんは、仮登録中です。</p>
<p>以下のリンクに接続して、本登録をおこなってください。</p>

<%= link_to "登録完了はこちら", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
