※ このメールにお心当たりのない場合は、URLにアクセスせずメールを破棄してください。

<%= @user.name %>さん

この度は、スペースハッカーにご登録いただきありがとうございます。

現在、<%= @user.name %>さんは、仮登録中です。
以下のURLに接続して、本登録をおこなってください。

【本登録URL：】
<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>

※ URLが改行されている場合は、1行につなげてブラウザのアドレスバーに入力してください。
