※ このメールにお心当たりのない場合は、URLにアクセスせずメールを破棄してください。

<%= @user.name %>さん

SpaceHacker用パスワードの再設定がリクエストされました。
パスワードを変更するには以下のリンクをクリックしてください。

【再発行URL：】
<%= edit_password_reset_url(@user.reset_token, email: @user.email) %>
※ パスワードの有効期限は発行されてから2時間までです。
※ URLが改行されている場合は、1行につなげてブラウザのアドレスバーに入力してください。
