<p>※ このメールにお心当たりのない場合は、URLにアクセスせずメールを破棄してください。</p>

<p><%= @user.name %>さん</p>

<p>SpaceHacker用パスワードの再設定がリクエストされました。</p>
<p>パスワードを変更するには以下のリンクをクリックしてください。</p>

<%= link_to "パスワードを再設定する", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>※ パスワードの有効期限は発行されてから2時間までです。</p>
