<% provide(:title, @space.name ) %>
<%= render 'layouts/spaceheader' %>
<section class="space-navigation navi-info container">
  <div class="title navi-info-box">
    <ul>
      <li class="col-md-3 col-sm-3 col-xs-3"><%= link_to "基本情報", area_space_path %></li>
      <li class="col-md-3 col-sm-3 col-xs-3"><%= link_to "口コミ", review_area_space_path %></li>
      <li class="col-md-3 col-sm-3 col-xs-3"><%= link_to "写真", photo_area_space_path %></li>
      <li class="col-md-3 col-sm-3 col-xs-3 selected"><a href="#">マップ</a></li>
    </ul>
  </div>
</section>
<!-- /Section 20 : My Page Navigation -->

<!-- Section 27 : Space Map -->
<section class="space-map container">
  <div class="title">
    <div class="space-map-contents">
      <div>
        <div id="map" style='width: 100%; height: 450px;'></div>
      </div>

      <script type="text/javascript">
          handler = Gmaps.build('Google');
          handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
            markers = handler.addMarkers(<%=raw @hash.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
          });
      </script>

      <script type="text/javascript">
      function initMap() {

        var test ={lat: <%= @space.latitude %>, lng: <%= @space.longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: test
        });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);

        var contentString = '住所：<%= @space.address %>';
        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });

        var marker = new google.maps.Marker({
          position:test,
          map: map,
          title: contentString
        });

        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      }
       </script>
       <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzOpoIJy-9aLUOydR1E_PoMGg7itdjWpU&callback=initMap"async defer></script>

      <table class="table">
        <tbody>
          <tr>
            <td class="space-basic-table-title col-md-3 col-sm-3 col-xs-3">住所</td>
            <td class="space-basic-table-text col-md-9 col-sm-9 col-xs-9"><%= @space.address %></td>
          </tr>
          <tr>
            <td class="space-basic-table-title col-md-3 col-sm-3 col-xs-3">アクセス</td>
            <td class="space-basic-table-text col-md-9 col-sm-9 col-xs-9"><%= @space.access %></td>
          </tr>
          <tr>
            <td class="space-basic-table-title col-md-3 col-sm-3 col-xs-3">行き方</td>
            <td class="space-basic-table-text col-md-9 col-sm-9 col-xs-9"><%= @space.guide %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
