<% provide(:title, @space.name ) %>
<%= render 'layouts/spaceheader' %>
<section class="space-navigation navi-info container">
  <div class="title navi-info-box">
    <ul>
      <li class="col-md-3 col-sm-3 col-xs-3"><%= link_to "基本情報", area_space_path %></li>
      <li class="col-md-3 col-sm-3 col-xs-3"><%= link_to "口コミ", review_area_space_path %></li>
      <li class="col-md-3 col-sm-3 col-xs-3 selected"><a href="#">写真</a></li>
      <li class="col-md-3 col-sm-3 col-xs-3"><%= link_to "マップ", map_area_space_path %></li>
    </ul>
  </div>
</section>

<section class="space-albums container">
  <div class="title">
    <div class="space-albums-images col-md-4 col-sm-4 col-xs-4">
      <%= image_tag @space.space_image.image_1 %>
    </div>
    <div class="space-albums-images col-md-4 col-sm-4 col-xs-4">
      <%= image_tag @space.space_image.image_2 %>
    </div>
    <div class="space-albums-images col-md-4 col-sm-4 col-xs-4">
      <%= image_tag @space.space_image.image_3 %>
    </div>

    <div class="space-albums-images col-md-4 col-sm-4 col-xs-4">
      <%= image_tag @space.space_image.image_4 %>
    </div>
    <div class="space-albums-images col-md-4 col-sm-4 col-xs-4">
      <%= image_tag @space.space_image.image_5 %>
    </div>
    <div class="space-albums-images col-md-4 col-sm-4 col-xs-4">
      <%= image_tag @space.space_image.image_6 %>
    </div>

    <div class="space-albums-images col-md-4 col-sm-4 col-xs-4">
      <%= image_tag @space.space_image.image_7 %>
    </div>
    <div class="space-albums-images col-md-4 col-sm-4 col-xs-4">
      <%= image_tag @space.space_image.image_8 %>
    </div>
    <div class="space-albums-images col-md-4 col-sm-4 col-xs-4">
      <%= image_tag @space.space_image.image_9 %>
    </div>
  </div>
</section>
