<% provide(:title, "すべてのスペース一覧" ) %>
<%= render 'shared/search_form' %>

<section class="search-result container">
  <div class="title">
    <h2>すべての検索結果</h2>

    <% @search_spaces.each do |space| %>
    <div class="search-result-card">
      <div class="search-result-card-img col-md-2 col-sm-3 col-xs-2">
        <a href="#"><%= image_tag space.image %></a>
      </div>
      <div class="search-result-card-title col-md-7 col-sm-6 col-xs-7">
        <a href="./space.html"><h3><%= link_to space.name, area_space_path(area_slag: space.area.slag, id: space.id) %></h3></a>
        <p><span class="rate rate30"></span><span class="search-result-review-numbers"></p>
        <p><span class="search-result-category"><%= space.name %></span>・<span><%= space.minimum_fee %></span></p>
      </div>
      <div class="search-result-card-address col-md-3 col-sm-3 col-xs-7">
        <p class="search-result-card-address-area">
          <img src="/images/map-marker.png" />
          <span><%= space.area.try(:name) %></span>
        </p>
        <p class="search-result-card-address-detail hidden-xs">
          <%= space.address %>
        </p>
      </div>
      <div class="search-result-card-contents col-md-10 hidden-sm hidden-xs">
        <p><%= truncate(space.description, :length => 110)%><%= link_to "続きを読む", space %></p>
      </div>
    </div>
    <% end %>

    <%= will_paginate @spaces %>
  </div>
</section>
