<% provide(:title, @space.name ) %>
<%= render 'layouts/spaceheader' %>

<!-- Section 20 : Space Navigation -->
<section class="space-navigation navi-info container">
  <div class="title navi-info-box">
    <ul>
      <li class="col-md-3 col-sm-3 col-xs-3 selected"><a href="#">基本情報</a></li>
      <li class="col-md-3 col-sm-3 col-xs-3"><%= link_to "口コミ", review_area_space_path %></li>
      <li class="col-md-3 col-sm-3 col-xs-3"><%= link_to "写真", photo_area_space_path %></li>
      <li class="col-md-3 col-sm-3 col-xs-3"><%= link_to "マップ", map_area_space_path %></li>
    </ul>
  </div>
</section>
<!-- /Section 20 : My Page Navigation -->

<!-- Section 21 : Space Basic Image -->
<section class="space-basic-image container desktop">
  <div class="title">
    <div class="space-basic-image-albums col-md-4 col-sm-4">
      <%= image_tag @space.space_image.image_1 %>
    </div>
    <div class="space-basic-image-albums col-md-4 col-sm-4">
      <%= image_tag @space.space_image.image_2 %>
    </div>
    <div class="space-basic-image-albums col-md-4 col-sm-4">
      <%= image_tag @space.space_image.image_3 %>
    </div>
    <div class="space-basic-image-more col-md-12">
      <%= link_to "公式写真をもっと見る", photo_area_space_path %>
    </div>
  </div>
</section>
<!-- /Section 21 : Space Basic Image -->

<!-- Section 22 : Space Basic Text -->
<section class="space-basic-text container">
  <div class="title">
    <h2>スペースの詳細</h2>
    <p>
      <%= @space.description %>
    </p>
  </div>
</section>
<!-- Section 22 : Space Basic Text -->

<!-- Section 23 : Space Basic Table -->
<section class="space-basic-table container">
  <div class="title">
    <h2>基本情報</h2>
    <table class="table">
      <tbody>
        <tr>
          <td class="space-basic-table-title col-md-3 col-sm-3 col-xs-3">スペース名</td>
          <td class="space-basic-table-text col-md-9 col-sm-9 col-xs-9"><%= @space.name %></td>
        </tr>
        <tr>
          <td class="space-basic-table-title col-md-3 col-sm-3 col-xs-3">ジャンル</td>
          <td class="space-basic-table-text col-md-9 col-sm-9 col-xs-9"><%= @space.genre %></td>
        </tr>
        <tr>
          <td class="space-basic-table-title col-md-3 col-sm-3 col-xs-3">アクセス</td>
          <td class="space-basic-table-text col-md-9 col-sm-9 col-xs-9"><%= @space.access %></td>
        </tr>
        <tr>
          <td class="space-basic-table-title col-md-3 col-sm-3 col-xs-3">電話番号</td>
          <td class="space-basic-table-text col-md-9 col-sm-9 col-xs-9"><%= @space.phone %></td>
        </tr>
        <tr>
          <td class="space-basic-table-title col-md-3 col-sm-3 col-xs-3">公式サイト</td>
          <td class="space-basic-table-text col-md-9 col-sm-9 col-xs-9"><%= @space.website %></td>
        </tr>
        <tr>
          <td class="space-basic-table-title col-md-3 col-sm-3 col-xs-3">席数</td>
          <td class="space-basic-table-text col-md-9 col-sm-9 col-xs-9"><%= @space.seats %>席</td>
        </tr>
        <tr>
          <td class="space-basic-table-title col-md-3 col-sm-3 col-xs-3">住所</td>
          <td class="space-basic-table-text col-md-9 col-sm-9 col-xs-9"><%= @space.address %><br /><span>※ お問い合わせの際は「"スペースハッカー"を見たとお伝えください。</span></td>
        </tr>
        <tr>
          <td class="space-basic-table-title col-md-3 col-sm-3 col-xs-3">料金プラン</td>
          <td class="space-basic-table-text col-md-9 col-sm-9 col-xs-9">ドロップイン：2時間500円、1日1000円<br />月額会員：9,000円</td>
        </tr>
        <tr>
          <td class="space-basic-table-title col-md-3 col-sm-3 col-xs-3">設備</td>
          <td class="space-basic-table-text col-md-9 col-sm-9 col-xs-9"><%= @space.amenities %></td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<!-- /Section 23 : Space Basic Table -->

<!-- Section 24 : Space Basic Review -->
<section class="space-basic-review container">
  <div class="title">
    <h2>口コミ</h2>
  <% @space.reviews.first(4).each do |review| %>
  <div class="review" id="review">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="col-md-4 col-sm-6 col-xs-8 review-head">
        <div class="col-md-2 col-sm-4 col-xs-3 review-head-icon">
          <% if review.user.image? %>
          <%= image_tag review.user.image %>
          <% else %>
          <img src="/images/icon.jpeg" />
          <% end %>
        </div>
        <div class="col-md-10 col-sm-8 col-xs-9 review-head-summary">
          <p><%= link_to review.user.name, review.user, class: "review-name" %></p>
          <p><%= link_to review.space.name, area_space_path(area_slag: review.space.area.slag, id: review.space.id), class: "review-space" %></p>
        </div>
      </div>
      <div class="col-md-8 col-sm-6 col-xs-4 review-timestamp">
        <%= time_ago_in_words(review.created_at) %>前
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 review-rate">
      <span class="rate rate-<%= review.rate %>"></span><span class="review-rate-title"><%= review.title %></span>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 review-contents desktop">
      <%= truncate(review.content, :length => 120)%><%= link_to "続きを読む", review %>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 review-contents mobile">
      <%= truncate(review.content, :length => 30)%><%= link_to "続きを読む", review %>
    </div>
  </div>
  <p class="upper-line"></p>
  <% end %>
  <div class="space-basic-image-more col-md-12">
    <%= link_to "口コミをもっと見る", review_area_space_path %>
  </div>
</section>
