<% provide(:title, "プロフィール") %>
<%= render 'layouts/userheader' %>

<section class="space-navigation navi-info container">
  <div class="title navi-info-box">
    <ul>
      <li class="col-md-3 col-sm-4 col-xs-4 selected"><a href="#">最近の口コミ</a></li>
      <li class="col-md-9 col-sm-8 col-xs-8"><%= link_to "アカウント", edit_user_registration_path %></li>
    </ul>
  </div>
</section>

<section class="space-basic-review container">
  <div class="title">
    <div class="responsive-newest-review">
      <%= render @reviews %>
      <%= will_paginate @reviews %>
    </div>
  </div>
</section>
