
<% provide(:title, "新しいパスワードを入力する") %>
<section class="register">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>
  <div class="title page-form account-form">
    <h2>新しいパスワードを入力する</h2>
      <div class="form-group">
        <%= f.password_field :password, :placeholder => "新しいパスワード", autofocus: true, autocomplete: "off" %>
      </div>
      <div class="form-group">
        <%= f.password_field :password_confirmation, :placeholder => "パスワードの再確認", autocomplete: "off" %>
      </div>
      <%= f.submit "パスワードを更新する", class: "btn btn-form" %>
    <% end %>
  </div>
</section>
