<% provide(:title, "パスワードをリセットする") %>
<section class="register">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
  <div class="title page-form account-form">
    <h2>パスワードをリセットする</h2>
      <div class="form-group">
        <%= f.email_field :email,:placeholder => "メールアドレス", class: "form-control", autofocus: true %>
      </div>
      <%= f.submit "リセットする", class: "btn btn-form" %>
    <% end %>
  </div>
</section>
