<% if elements.present? %>
  <nav class="breadcrumbs desktop">
    <div class="container">
      <ul class="breadcrumbs-contents title">
        <% elements[0..-2].each do |element| %>
        <li>
        <% if element.path.present? %>
          <a href="<%= element.path %>"><%= element.name %></a>
        <% else %>
          <%= element.name %>
        <% end %>
          <span class="divider">/</span>
        </li>
        <% end %>

        <%= elements.last.name %>
      </ul>
    </div>
  </nav>
<% end %>
