<%= form_for(@review) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "口コミを入力する" %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
