<section class="search-result-bar container">
  <%= search_form_for @search, url: search_spaces_path do |f| %>
  <div class="title">
    <%= f.text_field :description_cont, placeholder: "キーワードを検索する", class: "form-control search-result-keyword col-md-6" %>
    <%= f.submit ("検索する"), class: "btn btn-form desktop col-md-6" %>
  </div>
  <% end %>
</section>
