<% provide(:title, "ログイン") %>
<section class="login">
  <div class="title page-form account-form">
    <h2>ログイン</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <form>
      <%- resource_class.omniauth_providers.each do |provider| %>
        <%= link_to "Facebookでログインする", user_facebook_omniauth_authorize_path, id: "sign_in", class: "btn btn-form fb-btn" %>
      <% end -%>
      <div class="form-group">
        <label for="exampleInputEmail">メールアドレスでログインする</label>
        <%= f.email_field :email, :placeholder => "メールアドレス", class: "form-control", autofocus: true %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, :placeholder => "パスワード", class: "form-control", autocomplete: "off" %>
        <%= link_to "パスワードを忘れた方はこちらから", new_user_password_path %>
      </div>
      <% if devise_mapping.rememberable? -%>
        <%= f.check_box :remember_me %>
        <span>次回から自動的にログイン</span>
      <% end -%><br />
      <p><%= f.submit "ログインする", class: "btn btn-form" %></p>
    </form>
    <% end %>
    <p>まだ会員でない方は <%= link_to "新規会員登録", new_user_registration_path %>へ</p>
  </div>
</section>
