@import "bootstrap-sprockets";
@import "bootstrap";
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic);
body{
  font-family:Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
  background-color: #f8f8f8;
}

/* General Setting */
.upper-line {
  width: 100%;
  border-bottom: 2px solid #eee;
  margin: 0 auto;
}
a:hover {
  text-decoration: none;
}
.btn-form {
  background-color: #3366ff;
  color: #fff;
  height: 44px;
  width: 180px;
  margin-top: 20px;
}
.btn-form:hover {
  color: #fff;
  background-color: #008afd;
}
.btn-fav:hover {
  opacity: 0.8;
}

/* Header */
.navbar-white {
  z-index: 30000;
  height: 74px;
  padding-top: 10px;
  background-image: none !important;
  background-color: #fff;
  border-radius: 0px !important;
}
.navbar-default .navbar-toggle {
    border-color: #fff;
}
#logo {
  width: 160px;
  height: 30px;
  margin-top: 15px;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #3366ff;
}
.nav-btn {
  width: 154px;
  height: 36px;
  border-radius: 2px;
  margin-top: 0px !important;
}

/* Section 1 : Featured Cover */
.featured {
  height: 400px;
  margin-top: -20px;
}
.hero {
  text-align: center;
}
.hero h1 {
  color: #fff;
  font-size: 2.4em;
  font-weight: bold;
  text-shadow: 1px 1px 2px #000;
  padding-top: 80px;
}
.hero p {
  color: #fff;
  font-size: 1.2em;
  text-shadow: 1px 1px 2px #000;
  padding-top: 20px;
}
.desktop-featured {
  width: 100%;
  background: rgba(255,255,255,0.7);
  height: 80px;
  filter: alpha( opacity=70 );
  margin-top: 75px;
  position: relative;
  text-align: center;
}
.desktop-featured form ul li {
  display: inline-block;
}
.desktop-featured-search {
  margin-top: 15px;
  text-align: center;
}
.desktop-featured-search input {
  background-color: #fff;
  width: 400px;
  height: 52px;
  border: 1px solid #eee;
  background-image: none;
}
.featured-menu button {
  height: 52px;
  width: 200px;
  background-color: #fff;
  background-image: none;
  margin-left: 10px;
  border: 1px solid #eee;
  color: #999999;
}
.featured-menu .dropdown-menu {
  width: 200px;
  margin: 2px 10px 0;
}
.featured-btn, .featured-btn:hover {
  margin-left: 10px;
  width: 140px !important;
  height: 52px;
  background-color: #3366ff !important;
  margin-top: 0 !important;
}
.keyword-menu input {
  border: 1px solid #eee;
}
.desktop-featured-search {
  padding-top: 15px;
}

/* Section 2 : Popular Space */
.popular-space {
  margin-bottom: 40px;
}
.title {
  margin: auto;
  width: 80%;
  margin-bottom: 50px;
}
.title h2 {
  font-size: 18px;
  color: #444444;
  font-weight: bold;
  margin: 20px 0;
}
.area-search-title {
  width: 100%;
  height: 200px;
}

/* Section 4 : Area Search */
.area-search {
  margin-bottom: 80px;
}
.area-search-card:hover {
  border-bottom: none;
  opacity: 0.8;
}
.area-search-img {
  width: 100%;
  height: 180px;
  background-size: cover;
  background-position: top;
  padding: 5px 0 0 3px;
  text-align: center;
  border-radius: 2px;
  margin-bottom: 20px;
}
.area-search-img:hover {
  opacity: 0.8;
}
.area-search-img h3 {
  color: #fff;
  font-size: 2.4em;
  padding-top: 45px;
  font-weight: bold;
  text-shadow: 1px 1px 2px #000;
}

/* Section 5 : My Page Head */
.mypage-head {
  margin-top: 40px;
}
.mypage-head img {
  width: 100px;
}
.mypage-head-contents h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.mypage-head-icon {
  overflow: hidden;
  width: 140px;
  height: 140px;
  position: relative;
  margin-left: -15px;
}
.mypage-head-icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: auto;
  height: 100%;
}

/* Section 6 : My Page Navigation */
.mypage-navigation-box {
  border-bottom: 2px solid #eee;
  height: 35px;
}
.mypage-navigation-box span {
  height: 33px;
}
.mypage-navigation-box span a {
  color: #444444;
}
.navi-line {
  border-bottom: 3px solid #3366ff;
  width: 115px;
  padding-bottom: 16px;
  margin-left: -15px;
}
.navi-selected a {
  font-weight: bold;
  color: #3366ff !important;
}
.image-selected a {
  font-weight: bold;
  color: #3366ff !important;
}
.image-selected p {
  margin-left: -30px;
}
.space-review-page {
  margin-bottom: 80px;
}

/* Section 8 : My Page Profile */
.mypage-profile {
  height: 100%;
}
.page-form {
  width: 700px;
}
.page-form label {
  font-size: 1.0em;
  margin-bottom: 15px;
  font-weight: normal;
}
.page-form input {
  margin-bottom: 40px;
}

/* Section 10 : Login */
.account-form {
  margin-top: 50px;
  width: 450px;
}
.account-form input {
  margin-bottom: 10px;
}
.fb-btn {
  width: 100%;
  margin-bottom: 40px;
  background-color: #4267b2;
}
.fb-btn img {
  width: 20px;
}
.login, .register, .sent-mail, .note {
  height: 100%;
}

/* Section 12 : Already Sent */
.sent-mail p {
  line-height: 1.5;
}

/* Section 16 : Breadcrumbs */
.breadcrumbs {
    background-color: #fff;
    height: 40px;
    margin-top: -20px;
    margin-left: -80px;
    padding-top: 14px;
    border-bottom: 1px solid #eee
}
.breadcrumbs ul li {
  display: inline-block;
  font-size: 0.8em;
}

/* Section 17 : Search Result Bar */
.search-result-bar {
  margin-top: 20px;
}
.search-result-keyword {
  width: 360px;
  height: 40px;
}
.search-result-bar .title .btn-form {
  margin: 0 0 0 10px;
  width: 120px;
  height: 40px;
}

/* Footer */
footer {
  background-color: #1d2128;
  height: 250px;
  border-top: 5px solid #3f464f;
}
.footer-title-logo {
  text-align: center;
  padding-top: 70px;
}
.footer-title-logo img {
  width: 240px;
}
.footer-title-contents {
  padding-top: 20px;
}
.footer-title-contents p {
  font-size: 1.2em;
  color: #fff;
}
.footer-title-contents ul li a {
  font-size: 1.0em;
  color: #fff;
  line-height: 2.0;
}
.footer-bottom {
  margin-top: 20px;
  border-top: 2px solid #3f464f;
  padding: 20px;
}
.footer-bottom span {
  color: #fff;
}
footer .mobile {
  width: 100%;
  padding-top: 30px;
  text-align: center;
}
footer .mobile ul {
  padding: 0;
}
footer .mobile ul li {
  display: inline-block;
  margin: 0 10px 20px 10px;
}
footer .mobile ul li a, footer .mobile span {
  color: #fff;
  font-size: 0.8em;
}
footer .mobile ul li img {
  width: 40px;
}

/* Desktop Edition */
@media (min-width: 767px) {
  .mobile, .hero p:nth-child(3){
    display: none !important;
  }
}

/* Mobile Edition */
@media (max-width: 767px) {
  /* Header */
  .featured {
    height: 240px;
  }
  .hero h1, .hero p:nth-child(2) {
    display: none;
  }
  .hero p{
    font-size: 1.6em;
    font-weight: bold;
  }
  .navbar-default .navbar-collapse {
    margin-top: 13px;
    background-color: #fff;
  }
  /* Section 1 : Featured Cover */
  .desktop {
    display: none;
  }
  .title {
    width: 100%;
  }
  .mobile-featured {
    text-align: center;
  }
  .mobile-featured input {
      width: 90%;
      height: 52px;
      margin: 10px auto;
  }
  .featured-menu {
    text-align: center;
  }
  .featured-menu button {
    width: 90%;
    text-align: left;
    margin: auto;
  }
  .featured-menu .dropdown-menu {
    width: 90%;
    margin: auto;
    margin: 2px 20px 0;
  }

  /* Section 4 : Area Search */
  .area-search-img {
    height: 100px;
  }
  .area-search-img h3 {
    font-size: 1.8em;
    padding-top: 15px;
    font-weight: normal;
  }
  .search-space-row {
    height: 120px;
  }

  /* Section 5 : My Page Head */
  .mypage-head-icon{
    width: 80px;
    height: 80px;
    margin-left: 20px;
  }

  /* Section 6 : My Page Navigation */
  .mypage-navigation-box span a {
    font-size: 0.7em;
  }
  .navi-line {
    border-bottom: 3px solid #3366ff;
    width: 90px;
    padding-bottom: 16px;
    margin-left: -15px;
  }

  /* Section 8 : My Page Profile */
  .page-form {
    padding-right: 30px;
    padding-left: 30px;
  }

  /* Section 17 : Search Result Bar */
  .search-result-keyword {
    width: 100%;
    margin-bottom: -20px;
  }

  /* Section 19 : Space Head */
  .space-head-info ul li {
    display: block;
    margin-bottom: 10px;
  }
  .space-head-action ul {
    padding: 0;
  }
  .space-head-action ul li button {
    margin-top: 10px;
    width: 100%;
  }
  .space-head {
    margin-top:-20px;
    margin-bottom: 0;
  }
  .space-image {
    width: 100%;
    height: 240px;
    margin: auto;
  }
  .space-image img {
    width: 100%;
  }

  /* Section 20 : Space Navigation */
  .navi-info ul li a {
    padding: 0;
    padding-bottom: 15px;
  }

  /* Section 26 : Space Albums */
  .space-albums-images {
    overflow: hidden;
    width: 270px;
    height: 180px;
    position: relative;
    margin: 0 15px;
    margin-bottom: 15px;
  }
  .space-albums-images img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: auto;
    height: 100%;
  }

  /* Section 27 : Space Map */
  .space-map-contents iframe {
    width: 100%;
    height: 240px;
  }
}

/* Index - Space Card Contents */
.card {
  width: 280px;
  height: 320px;
  padding: 5px 5px;
  margin: 5px;
  background-color: #fff;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
}
.card-img {
  width: 100%;
  height: 180px;
  background-size: cover;
  background-position: top;
  padding: 5px 0 0 3px;
}
.card-contents-title {
  font-size: 1.2em;
  color: #444444;
  font-weight: bold;
  margin: 10px 0 8px 5px;
}
.card-rate {
  margin: 0px 5px 5px 5px;
}
.card-contents-genre {
  color: #000;
  font-size: 1.0em;
  margin: 8px 0 10px 5px;
}
.card-contents-sign img {
  width: 1.2em;
  height: 1.2em;
}
.card-contents-sign span {
  font-size: 1.0em;
  color: #3366ff;
  margin-left: 10px;
}

/* Index - Mobile Card Contents */
.mobile-card {
  width: 30%;
  padding: 5px 0;
  margin: 5px;
}
.mobile-card-img {
  width: 100%;
  height: 110px;
  background-size: cover;
  background-position: top;
  padding: 5px 0 0 3px;
}
.mobile-card-contents-title {
  font-size: 1.0em;
  color: #444444;
  font-weight: bold;
  margin-top: 5px;
}
.mobile-card-contents-genre {
  color: #000;
  font-size: 0.5em;
  margin: 5px 0;
}
.mobile-card-contents-sign img {
  width: 1.2em;
  height: 1.2em;
}
.mobile-card-contents-sign span {
  font-size: 0.8em;
  color: #3366ff;
  margin-left: 5px;
}

/* Search Result Card */
.search-result-card {
  width: 100%;
  height: 140px;
  background-color: #fff;
  margin-bottom: 15px;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}
.search-result-card-img {
  overflow: hidden;
  width: 138px;
  height: 138px;
  position: relative;
  margin-left: -15px;
}
.search-result-card-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: auto;
  height: 100%;
}
.search-result-card-title {
  height: 90px;
  padding: 0;
  padding-left: 5px;
}
.search-result-card-address {
  height: 90px;
}
.search-result-card-title h3 {
  margin: 10px 0 5px 0;
  font-size: 1.0em;
  color: #444444;
}
.search-result-review-numbers {
  font-size: 1.0em;
  margin-left: 10px;
}
.search-result-card-title p {
  color: #000;
  font-size: 0.9em;
}
.search-result-card-address-area {
  margin-top: 10px;
  color: #3366ff;
}
.search-result-card-address-detail {
  line-height: 1.5;
}
.search-result-card-address-area img {
  width: 14px;
}
.search-result-card-contents {
  padding: 5px;
  line-height: 1.5;
  font-size: 0.9em;
}
.search-result-card-address p {
  font-size: 0.9em;
}

@media (max-width: 767px) {
  /* Search-Result Section : Search Result */
  .search-space-icon {
    height: 140px;
  }
  .search-space-title {
    height: 75px;
  }
  .search-space-title h3 {
    margin-top: 0;
  }
  .search-space-info {
    padding-top: 0px;
    height: 65px;
  }
  .search-space-icon img {
    width: 80%;
  }

  /* Rate Review Card */
  .review-head-icon img {
    width: 50px;
  }
  .review {
    height: 160px;
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .review-space {
    font-size: 1.0em;
  }

  /* Search Result Card */
  .search-result-card {
    height: 120px;
  }
  .search-result-card-img {
    margin-left: 0;
    width: 118px;
    height: 118px;
  }
  .search-result-card-title {
    height: 80px;
  }
  .search-result-card-address {
    height: 40px;
  }
  .search-result-card-title h3 {
    font-size: 1.4em;
  }
  .search-result-card-title .rate {
    font-size: 1.2em;
  }
  .search-result-card-title .rate30:after {
    width: 45px;
  }
  .search-result-review-numbers {
    margin: 0px;
  }
  .search-result-card-address {
    padding: 5px;
  }

  .space-albums-images {
    width: 105px !important;
    height: 105px !important;
    margin: 5px !important;
  }
}

/* error messages */
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
.alert {
  width: 80%;
  margin: auto;
}

/* remember me on page */
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}
#session_remember_me {
  width: auto;
  margin-left: 0;
}
