// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Section 13 : Review Form */
.review-form-space {
  margin: 40px 0;
}
.review-form-space p {
  font-size: 1.2em;
}
.btn-edit, .btn-delete {
  width: 120px;
}
.btn-delete {
  background-color: #ea4858;
  margin-left: 10px;
}
.contact p {
  line-height: 1.5;
  margin-bottom: 20px;
}

.btn-modal {
  width: 100px;
  height: 34px;
  margin-top: 0;
}

/* Rate Review Card */
.review {
  height: 180px;
  margin-top: 20px;
}
.review-head {
  padding: 0;
}
.review-head-icon {
  height: 100%;
  padding: 0;
}
.review-head-icon img {
  width: 50px;
}
.review-head-summary {
  height: 100%;
  padding-top: 10px;
}
.review-name {
  color: #000;
  font-size: 1.1em;
}
.review-space {
  color: #3366ff;
  font-size: 1.2em;
  font-weight: bold;
}
.review-timestamp {
  text-align: right;
  font-size: 0.8em;
  color: #999999;
}
.review-rate {
  margin: 10px 0;
}
.review-rate-title {
  margin-left: 10px;
  color: #444444;
  font-weight: bold;
}
.review-contents {
  color: #000;
  line-height: 1.2;
}
.rate {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 20px;
  font-size: 20px;
}
.rate:before, .rate:after {
  position: absolute;
  top: 0;
  left: 0;
  content: '★★★★★';
  display: inline-block;
  height: 20px;
  line-height: 20px;
}
.rate:before {
  color: #ddd; /*星色*/
}
.rate:after {
  color: #ffa500;
  overflow: hidden;
  white-space: nowrap; /*重要*/
}
.rate00:after{width: 0;}
.rate05:after{width: 10px;}
.rate-1:after{width: 20px;}
.rate15:after{width: 30px;}
.rate-2:after{width: 40px;}
.rate25:after{width: 50px;}
.rate-3:after{width: 60px;}
.rate35:after{width: 70px;}
.rate-4:after{width: 80px;}
.rate45:after{width: 90px;}
.rate-5:after{width: 100px;}

.review-show-content {
  line-height: 1.5;
}
