// Place all the styles related to the Spaces controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Section 19 : Space Head */
.space-head {
  margin-bottom: 30px;
}
.space-head-img {
  overflow: hidden;
  width: 140px;
  height: 140px;
  position: relative;
  margin: 15px 10px 0 0;
}
.space-head-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: auto;
  height: 100%;
}
.space-head-info ul {
  padding-left:0;
}
.space-head-info ul li {
  font-size: 0.9em;
  line-height: 1.2;
  display: inline-block;
  margin-right: 10px;
}
.review-number {
  font-size: 1.8em;
  font-weight: bold;
  color: #ffa500;
}

/* Section 20 : Space Navigation */
.navi-info-box {
  height: 35px;
  border-bottom: 2px solid #eee;
}

.navi-info ul {
  padding-left: 0;
}
.navi-info ul li {
  display: inline-block;
  position: relative;
}
.navi-info ul li a {
  color: #444444;
  padding: 0 10px;
  padding-bottom: 15px;
}
.selected a {
  height: 100px;
  border-bottom: 2px solid #3366ff;
}


/* Section 21 - 24 : Space Basic */
.space-basic-image-albums {
  overflow: hidden;
  width: 270px;
  height: 180px;
  position: relative;
  margin: 0 15px;
}
.space-basic-image-albums img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: auto;
  height: 100%;
}
.space-basic-image-more {
  text-align: right;
  padding:15px 25px 0 0;
}
.space-basic-text p {
  line-height: 1.5;
}
.space-basic-table-title {
  background-color: #eee;
}
.space-basic-table-text {
  background-color: #fff;
}
.space-basic-table span {
  font-size: 0.8em;
}
.space-basic-review-more {
  text-align: right;
  padding:15px 25px 0 0;
  margin-bottom: 80px;
}
.space-nav-review p {
  margin-left: -20px;
  width: 80px;
}

/* Section 26 : Space Albums */
.space-albums {
  margin-bottom: 80px;
}
.space-albums-images {
  overflow: hidden;
  width: 270px;
  height: 180px;
  position: relative;
  margin: 0 15px;
  margin-bottom: 15px;
}
.space-albums-images img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: auto;
  height: 100%;
}

/* Section 27 : Space Map */
.space-map-contents table {
  margin-top: 20px;
}
