// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.space-all {
  text-align: center;
  clear: both;

}
.btn-all {
  background-color: #f8f8f8;
  color: #337ab7;
  font-size: 1.0em;
  margin-top: 20px;
}
