// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-delete {
  background-color: #f9423a !important;
  height: 44px;
  width: 180px;
  margin-left: 0;
  margin-top: 0;
}

.btn-delete:hover {
  background-color: #ff2a42 !important;
}
