<p>※ このメールにお心当たりのない場合は、URLにアクセスせずメールを破棄してください。</p>

<p><%= @user.name %>さん</p>

<p>この度は、スペースハッカーにご登録いただきありがとうございます。</p>

<p>現在、<%= @user.name %>さんは、仮登録中です。</p>
<p>以下のURLに接続して、本登録をおこなってください。</p>

<p><%= link_to '本登録はこちらをクリックしてください', confirmation_url(@resource, confirmation_token: @token) %></p>
