<div class="review" id="review-<%= review.id %>">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="col-md-4 col-sm-6 col-xs-8 review-head">
      <div class="col-md-2 col-sm-4 col-xs-3 review-head-icon">
        <% if review.user.image? %>
        <%= image_tag review.user.image %>
        <% else %>
        <img src="/images/icon.jpeg" />
        <% end %>
      </div>
      <div class="col-md-10 col-sm-8 col-xs-9 review-head-summary">
        <p><%= link_to review.user.name, review.user, class: "review-name" %></p>
        <p><%= link_to review.space.name, area_space_path(area_slag: review.space.area.slag, id: review.space.id), class: "review-space" %></p>
      </div>
    </div>
    <div class="col-md-8 col-sm-6 col-xs-4 review-timestamp">
      <%= time_ago_in_words(review.created_at) %>前
    </div>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12 review-rate">
    <span class="rate rate-<%= review.rate %>"></span><span class="review-rate-title"><%= review.title %></span>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12 review-contents desktop">
    <%= truncate(review.content, :length => 120)%><%= link_to "続きを読む", review %>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12 review-contents mobile">
    <%= truncate(review.content, :length => 30)%><%= link_to "続きを読む", review %>
  </div>
</div>
<p class="upper-line"></p>
