<% provide(:title, "口コミの登録") %>
<section class="review-form note">
  <%= form_for(@review) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="title page-form account-form">
    <h2>口コミを登録する</h2>
    <form>
      <div class="form-group review-form-space">
        <label for="exampleInputName">店舗を検索する</label>
        <input type="space" class="form-control" id="exampleInputSpace" placeholder="スペースを検索する">
      </div>
      <div class="form-group">
        <label for="exampleInputName">口コミを入力する</label><br />
        <%= f.select :rate, {'1' => 1, '2' => 2, '3' => 3, '4' => 4, '5' => 5,}, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.text_field :title, class: "form-control", placeholder: "タイトル" %>
      </div>
      <div class="form-group">
        <%= f.text_area :content, class: "form-control", placeholder: "口コミ内容", rows: "5" %>
      </div>
      <%= f.submit "投稿する", class: "btn btn-form" %>
    <% end %>
    </form>
  </div>
</section>
