<% provide(:title, @review.title) %>
<section class="review-form note">
  <%= form_for(@review) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="title page-form account-form">
    <form>
      <div class="form-group review-form-space">
        <div class="col-md-12 col-sm-12 col-xs-12 review-head">
          <div class="col-md-2 col-sm-4 col-xs-3 review-head-icon">
            <% if @review.user.image? %>
            <%= image_tag @review.user.image %>
            <% else %>
            <img src="/images/icon.jpeg" />
            <% end %>
          </div>
          <div class="col-md-10 col-sm-8 col-xs-9 review-head-summary">
            <p><%= link_to @review.user.name, @review.user, class: "review-name" %></p>
            <p><%= link_to @review.space.name, area_space_path(area_slag: @review.space.area.slag, id: @review.space.id), class: "review-space" %></p>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 review-rate">
          <span class="rate rate-<%= @review.rate %>"></span><span class="review-rate-title"><%= @review.title %></span>
        </div>
      </div>
      <div class="review-show-content">
        <%= @review.content %>
      </div>
    <% end %>
    </form>
  </div>
</section>
