<footer>
  <div class="desktop">
    <div class="container">
      <div class="footer-top title">
        <div class="col-md-5 col-sm-5 footer-title-logo">
          <img src="/images/footer_logo.png" />
        </div>
        <div class="col-md-4 col-sm-4 footer-title-contents">
          <p>Space Hackerについて</p>
          <ul class="col-md-6 col-sm-6">
            <li><%= link_to "ホーム", root_path %></li>
            <li><%= link_to "運営会社", 'http://gociao.com', :target=>["_blank"] %></li>
            <li><%= link_to "広告掲載", advertise_path %></li>
            <li><%= link_to "お問い合わせ", contact_path %></li>
          </ul>
          <ul class="col-md-6 col-sm-6">
            <li><%= link_to "サイトについて", about_path %></li>
            <li><%= link_to "利用規約", terms_path %></li>
            <li><%= link_to "ポリシー", policy_path %></li>
            <li><%= link_to "ブログ", 'http://spacehacker.jp/blog', :target=>["_blank"] %></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-3 footer-title-contents">
          <p>SNS</p>
          <ul class="col-md-12 col-sm-12">
            <li><a href="#" target="_blank">Instagram</a></li>
            <li><a href="#" target="_blank">Twitter</a></li>
            <li><a href="#" target="_blank">LINE@</a></li>
            <li><a href="#" target="_blank">Facebook</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <span>Space Hacker[スペースハッカー]｜仕事で使えるスペース総合サイト</span>
      <span style="float: right;">Copyright Ciao Technologies Inc, 2017 All Rights Reserved.</span>
    </div>
  </div>

  <div class="mobile">
    <ul>
      <li><a href="#" target="_blank"><img src="/images/facebook.png" /></a></li>
      <li><a href="#" target="_blank"><img src="/images/twitter.png" /></a></li>
      <li><a href="#" target="_blank"><img src="/images/instagram.png" /></a></li>
    </ul>

    <ul>
      <li><a href="http://gociao.com" target="_blank">運営会社</a></li>
      <li><a href="./contact.html">広告掲載</a></li>
      <li><a href="#">ブログ</a></li>
    </ul>

    <ul>
      <li><a href="#">よくある質問</a></li>
      <li><a href="#">お問い合わせ</a></li>
      <li><a href="#">利用規約</a></li>
    </ul>

    <span>Copyright © Ciao Technologies, Inc. All Rights Reserved.</span>
  </div>
</footer>
