<header>
  <nav class="navbar navbar-default navbar-white">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="./index.html"><%= link_to image_tag("text_logo.png", alt: "SpaceHacker logo", id: "logo"),
        root_path %></a>
      </div>
      <% if user_signed_in? %>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right nav-hover">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= current_user.name %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "最近の口コミ", current_user %></li>
              <li><%= link_to "アカウント", edit_user_registration_path %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
              </li>
            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
      <% else %>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right nav-hover">
          <li><%= link_to "新規会員登録", new_user_registration_path %></li>
          <li><%= link_to "ログイン", new_user_session_path %></a></li>
        </ul>
      </div><!--/.nav-collapse -->
      <% end %>
    </div>
  </nav>
</header>
