<section class="space-head">
  <div id="carousel-example-generic" class="carousel slide mobile" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      <li data-target="#carousel-example-generic" data-slide-to="3"></li>
      <li data-target="#carousel-example-generic" data-slide-to="4"></li>
      <li data-target="#carousel-example-generic" data-slide-to="5"></li>
      <li data-target="#carousel-example-generic" data-slide-to="6"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active space-image">
        <%= image_tag @space.image %>
      </div>
      <div class="item space-image">
        <%= image_tag @space.space_image.image_1 %>
      </div>
      <div class="item space-image">
        <%= image_tag @space.space_image.image_2 %>
      </div>
      <div class="item space-image">
        <%= image_tag @space.space_image.image_3 %>
      </div>
      <div class="item space-image">
        <%= image_tag @space.space_image.image_4 %>
      </div>
      <div class="item space-image">
        <%= image_tag @space.space_image.image_5 %>
      </div>
      <div class="item space-image">
        <%= image_tag @space.space_image.image_6 %>
      </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <div class="container">
    <div class="title">
      <div class="space-head-img desktop col-md-2 col-sm-3">
        <%= image_tag @space.image %>
      </div>
      <div class="space-head-info col-md-7 col-sm-5">
      <h3><%= @space.name %></h3>
        <ul>
          <li><strong>ジャンル:</strong><span><%= @space.genre %></span></li>
          <li><strong>予算:</strong><span><%= @space.minimum_fee %></span></li>
        </ul>
        <ul>
          <li><strong>最寄り駅:</strong><span><%= @space.access %></span>
          <li><strong>営業時間:</strong><span><%= @space.hour %></span></li>
        </ul>
        <ul>
          <li><strong>住所:</strong><span><%= @space.address %></span></li>
        </ul>
      </div>
      <div class="space-head-action col-md-3 col-sm-4">
        <ul>
          <li><button class="btn btn-form" data-toggle="modal" data-target="#myModal">口コミを登録する</button></li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="z-index: 30000;">
  <div class="modal-dialog" role="document">
    <%= form_for(@review) do |f| %>
    <div class="modal-content">
      <%= render 'shared/error_messages', object: f.object %>
      <div class="modal-body">
        <div class="title page-form account-form">
          <h2>口コミを登録する</h2>
          <form>
            <div class="form-group review-form-space">
              <h3><%= @space.name %></h3>
              <%= f.hidden_field :space_id, value: @space.id %>
            </div>
            <div class="form-group">
              <label for="exampleInputName">口コミを入力する</label><br />
              <%= f.select :rate, {'1' => 1, '2' => 2, '3' => 3, '4' => 4, '5' => 5,}, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.text_field :title, class: "form-control", placeholder: "タイトル" %>
            </div>
            <div class="form-group">
              <%= f.text_area :content, class: "form-control", placeholder: "口コミ内容", rows: "5" %>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
        <%= f.submit "投稿する", class: "btn btn-form btn-modal" %>
      </div>
    </div>
    <% end %>
  </div>
</div>
