<section class="mypage-head container title">
  <div class="mypage-head-icon col-md-2 col-sm-4 col-xs-4">
    <% if @user.image? %>
    <%= image_tag @user.image %>
    <% else %>
    <img src="/images/icon.jpeg" />
    <% end %>
  </div>
  <div class="mypage-head-contents col-md-10 col-sm-8 col-xs-8">
    <h2><%= @user.name %></h2>
    <p><%= @user.background %></p>
  </div>
</section>
